/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3f2fd;
}

.container {
  position: relative;
  background-image: url(images/bg.png);
  background-size: cover;
  padding: 25px;
  border-radius: 28px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header,
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 48px;
  margin-right: 10px;
}

header .logo h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

header .chip {
  width: 60px;
}

.container .card-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-top: 40px;
  
}

.card-details .name-number h6 {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}

h5.number {
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

h5.name {
  font-size: 20px;
}

.card-details .name-number h5 {
  color: #fff;
}

.card-details .valid-date h5,
.card-details .valid-date h6 {
  color: #fff;
}
